.map{
    width:"400";
    height:"450"; 
    style:"border:0";
    allowfullscreen:"";
    loading:"lazy";
    referrerpolicy:"no-referrer-when-downgrade";
    /* max-width: max-content; */
}

h4{
    /* color: red; */
}

.row{
    width: 100%;
}